# Colissimo API Configuration
COLISSIMO_WSDL_URL=http://delivery.colissimo.com.tn/wsColissimoGo/wsColissimoGo.asmx?wsdl
COLISSIMO_USERNAME=clt_liv_4118
COLISSIMO_PASSWORD=1a146c0d-572e-4a97-ac86-4f5e54ca2d00

# Authentication Credentials
NEXT_PUBLIC_AUTH_USERNAME=kachabiti
NEXT_PUBLIC_AUTH_PASSWORD=kachabiti55558648

